.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel {
  height: 100%;
  width: 55%;
}

.login {
  width: 45%;
  padding-inline: 10%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.title {
  color: var(--dark-blue-title-font);
  text-align: center;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 50px;
}

label {
  color: var(--dark-blue-title-font);
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;

  margin-bottom: 8px;
}

.description {
  text-align: left;
  font-size: 16px;
  color: var(--dark-blue-title-font);
  margin-bottom: 20px;
}

.input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--border-input);
  outline: none;

  font-size: 14px;
  margin-bottom: 15px;
}


.btn_send_link {
  padding: 15px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary);

  color: var(--white);
  font-size: 16px;
  font-weight: 600;

  margin-top: 15px;
  transition: 0.2s;
}

.btn_back_login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 15px;
  border-radius: 5px;
  border: 1px solid var(--primary);

  text-decoration: none;
  text-align: center;

  color: var(--primary);
  font-size: 16px;
  font-weight: 600;

  margin-top: 15px;
  transition: 0.2s;
}

.btn_back_login:hover {
  cursor: pointer;
  transition: 0.2s;

  color: var(--white);
  background-color: var(--primary);
}

.btn_login:hover,
.btn_send_link:hover {
  filter: brightness(1.2);
  cursor: pointer;
  transition: 0.2s;
}

.paragraph {
  text-align: center;
}

a {
  color: var(--primary);
  text-decoration: none;
}
